<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}
{% load i18n %}

<html lang="fr" dir="ltr">
	
	
	<!-- header block -->
	<head>
		<title>THE SMELL OF US - {% trans "Administration" %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
	</head>
	
	
	<body>
		
		<h1>{% trans "Sélectionnez les échantillons que vous voulez pouvoir tester (6 minimums) :" %}</h1>
		
		<form action="{% url "SmellAdmin.views.adminThankView" %}" method="post">
			{% csrf_token %}
			
			<div>
				{% for sample in l_allSamples %}
					<label style="display: inline-block; width: 100px;"><input type="checkbox" name="{{ sample.id }}" {% if sample.available %}checked{% endif %}/>{{ sample.name }}</label>
				{% endfor %}
			</div>
			
			<br/><br/>
			
			<input type="image" value="{% trans 'VALIDER' %}" />
			
		</form>
		
		
		
		
		
		
		
		
		<!-- bottom block -->		
		<div style="position: fixed; bottom: 5px; right:5px;" >
		
			<div style="display: inline-block; margin-right: 20px;">
				<a href="../smellguess/home/" style="text-decoration: none;" >
					<!-- icon from http://www.iconsdb.com/deep-pink-icons/home-5-icon.html -->
					<img src="{% static 'images/homeIcon.png' %}" alt="Retour à la page d'accueil" height="50" style="display: block; margin-left: auto; margin-right: auto">
				</a>
			</div>
		    
		    <div style="display: inline-block;">	
		    	<a href="http://2014.igem.org/Team:Paris_Bettencourt" target="_blank" >
		    		<img src="{% static 'images/logo150x150.png' %}" alt="Site web de l'équipe" style="display: block; margin-left: auto; margin-right: auto">
		    	</a>
		    </div>
			
			<br/>
	    	
	    	<p style="font-size: 10px;">Copyright &copy; 2014 - All Rights Reserved - <a href="https://github.com/JeanCoq/SmellGame" target="_blank">Sources</a></p>
	    </div>
	    

	    
	</body>
	
</html>