<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}
{% load i18n %}

<html lang="fr" dir="ltr">
	
	
	<!-- header block -->
	<head>
		<title>THE SMELL OF US - {% trans "Administration" %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
		<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	</head>
	
	
	<body>
	
		<script>
			function autoCheck(checkboxName, isChecked) {
				checkbox = document.getElementsByName(checkboxName);
				checkbox[0].checked = isChecked;					
			}
			
			//Récupérer tous les noms d'échantillons dans une liste JavaScript (méthode moyennement propre...)
			function recupAllSampleName() {
				var a_result = [{% for sample in l_allSamples %}"{{ sample.name }}", {% endfor %}];
				return a_result;
			}
			
			function parsingSession(sampleName){
				var sessionName = '';
				
				regex = "^([a-zA-Z]*)[0-9]*([a-zA-Z]*)$";
				var re = new RegExp(regex); 
				var match = re.exec(sampleName);
				
				if(match[1] != ''){
					sessionName = match[1];
				}else if(match[1] == '' && match[2] != ''){
					sessionName = match[2];
				}
				
				return sessionName;
			}
			
			function autoCheckSession(sessionName, isChecked) {
				//sessionName doit être égal à "A", "S", "PB", "CS" ou "B"
				var a_allSampleName = recupAllSampleName();
				
				for (i = 0 ; i < a_allSampleName.length ; i++) { 
					var currentSession = parsingSession(a_allSampleName[i]);
					if(currentSession == sessionName) {
						autoCheck(a_allSampleName[i], isChecked);
					}
				} 
				
			}
		</script>
		
		

		{% if error %}
			<p><strong>Utilisateur inconnu ou mauvais mot de passe.</strong></p>
			<p><strong>Veuillez réessayer :</strong></p>
		{% endif %}
		
		
		
		{% if user.is_authenticated %}
			Vous êtes connecté, {{ user.username }} !
			
			<form action="{% url "SmellAdmin.views.decoView" %}" method="post">
			    {% csrf_token %}
			    <input type="submit" value="Se déconnecter" />
			</form>
			
			
			<h1>{% trans "Sélectionnez les échantillons que vous voulez pouvoir tester (6 minimums) :" %}</h1>
		
			<form action="{% url "SmellAdmin.views.adminThankView" %}" method="post">
				{% csrf_token %}
				
				<div>
					{% for sample in l_allSamples %}
						<label style="display: inline-block; width: 100px;"><input type="checkbox" id="{{ sample.id }}" name="{{ sample.name }}" {% if sample.available %}checked{% endif %}/>{{ sample.name }}</label>
					{% endfor %}
				</div>
				
				<br/><br/>
				
				
				<table>
					<tr>
						<td><input type="submit" name="select" id="select" value="Select S" onClick="autoCheckSession('S', true)"></td>
						<td><input type="submit" name="select" id="select" value="Select CS" onClick="autoCheckSession('CS', true)"></td>
						<td><input type="submit" name="select" id="select" value="Select PB" onClick="autoCheckSession('PB', true)"></td>
						<td><input type="submit" name="select" id="select" value="Select A" onClick="autoCheckSession('A', true)"></td>
						<td><input type="submit" name="select" id="select" value="Select B" onClick="autoCheckSession('B', true)"></td>
					</tr>
					<tr>
						<td><input type="submit" name="select" id="select" value="deSelect S" onClick="autoCheckSession('S', false)"></td>
						<td><input type="submit" name="select" id="select" value="deSelect CS" onClick="autoCheckSession('CS', false)"></td>
						<td><input type="submit" name="select" id="select" value="deSelect PB" onClick="autoCheckSession('PB', false)"></td>
						<td><input type="submit" name="select" id="select" value="deSelect A" onClick="autoCheckSession('A', false)"></td>
						<td><input type="submit" name="select" id="select" value="deSelect B" onClick="autoCheckSession('B', false)"></td>
					</tr>
				</table>
				
				<br/><br/>
				
				<input type="image" value="{% trans 'VALIDER' %}" />
				
			</form>
			
			
		{% else %}
			<form method="post" action=".">
			    {% csrf_token %}
			    {{ form.as_p }}
			    <input type="submit" value="Se connecter" />
			</form>
			
		{% endif %}
		
		
		
		
		

		
		
		
		{% include "footer.html" %}
	</body>
	
</html>
