<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}
{% load i18n %}

<html lang="fr" dir="ltr">
	
	
	<!-- header block -->
	<head>
		<title>THE SMELL OF US - {% trans "Administration" %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
		<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		
	</head>
	
	
	<body>
		
		<br/><br/>
	
		<div style="text-align: center">
			<div style="width:300px; margin: auto;">
				<form action="{% url "SmellGuess.views.homeView" %}" method="post">
					{% csrf_token %}
					{% trans "Les échantillons à tester ont bien été enregistrés" %}<br/><br/><br/>
					{{ test }}
					<input type="image" value="{% trans 'RETOUR' %}" />
				</form>
			</div>
		</div>
		
		{% include "footer.html" %}
	    
	</body>
	
</html> 
