<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}

<html lang="fr" dir="ltr">
	
	<head>
		<title>Game page type (In Progress)</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
	</head>
	
	
	<body>
		
		<div id="panelLeft">
			<t1>SI CETTE ODEUR EST ...</t1>
			<t2>UNE HUMEUR</t2>
			
			<form action="" method="post" style="line-height: 2;">
				<div class="radio-toolbar">  
					<input type="radio" id="radio0" value="AFFECTION" name="radios">
					<label for="radio0">AFFECTION <br/></label><br/>
					<input type="radio" id="radio1" value="ANXIETE" name="radios">
					<label for="radio1">ANXIETE <br/></label><br/>
					<input type="radio" id="radio2" value="BONHEUR" name="radios">
					<label for="radio2">BONHEUR <br/></label><br/>
					<input type="radio" id="radio3" value="COLERE" name="radios">
					<label for="radio3">COLERE <br/></label><br/>
					<input type="radio" id="radio4" value="DEPRESSION" name="radios">
					<label for="radio4">DEPRESSION <br/></label><br/>
					<input type="radio" id="radio5" value="DOUCEUR" name="radios">
					<label for="radio5">DOUCEUR <br/></label><br/>
					<input type="radio" id="radio6" value="EXCITATION" name="radios">
					<label for="radio6">EXCITATION <br/></label><br/>
					<input type="radio" id="radio7" value="FOLIE" name="radios">
					<label for="radio7">FOLIE <br/></label><br/>
					<input type="radio" id="radio8" value="IRRITATION" name="radios">
					<label for="radio8">IRRITATION <br/></label><br/>
					<input type="radio" id="radio9" value="radios" name="radios">
					<label for="radio9">NERVOSITE <br/></label><br/>
					<input type="radio" id="radio10" value="PEUR" name="radios">
					<label for="radio10">PEUR <br/></label><br/>
					<input type="radio" id="radio11" value="RAGE" name="radios">
					<label for="radio11">RAGE <br/></label><br/>
					<input type="radio" id="radio12" value="TRISTESSE" name="radios">
					<label for="radio12">TRISTESSE <br/></label><br/>
				</div>
				
				<input type="submit" value="SUIVANT" />
			</form>
			
			</br></br></br></br></br></br></br></br></br></br>

			<nav>
		        <li><h3><a href="../home" style="border:1px solid #aaaaaa; margin:2px;">Return to homepage</a></h3>(delete data)</li>
		        </br>
		        <li><h3><a href="../registration" style="border:1px solid #aaaaaa; margin:2px;">Modify your profile</a></h3>(your current data are saved)</li>
		    </nav>
		
		</div>
		
		<div style="position: fixed; top: 0; left:250px">
			<h3>Game page ({{ error }})</h3>
			<p>Hello {{ smeller.name }} (post method)</p>
		</div>
		
		<div id="panelCenter"> </div>
		
		<div id="panelHistory">
			HISTORIQUE :<br/>
			Sample n°57<br/>
		</div>
		
		<div style="position: fixed; bottom: 0; right:5px">
			<div id="panelLogo"> logo with CSS (but how generate static var in css files ???)</div>
			<p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="https://github.com/JeanCoq/SmellGame">Sources</a></p>
		</div>
		
	</body>
	
</html>



















<!--

<!DOCTYPE html>

{% load static %}

<html lang="fr" dir="ltr">
	
	<head>
   		<script>
			function allowDrop(ev) {
			    ev.preventDefault();
			}
			
			function drag(ev) {
			    ev.dataTransfer.setData("Text", ev.target.id);
			}
			
			function drop(ev) {
			    ev.preventDefault();
			    var data = ev.dataTransfer.getData("Text");
			    ev.target.appendChild(document.getElementById(data));
			    
			    var divSample = document.getElementById('divSample');
				var child = divSample.lastChild; 
				document.getElementById('id_perfumes').value = "";
				while (child) {
					document.getElementById('id_perfumes').value += child.id+";";
					child = child.previousSibling;
				}
			}
		</script>
	
		<title>Homepage (In Progress)</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/Layout.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
	</head>
	
	
	
	
	<body>
	
		<div class="wrapper row1">
			<header id="header" class="clear">
		    
			    <div id="hgroup">
				      <h1><a href="#">SmellGame</a></h1>
				      <h2>Default template & work in progress</h2>
			    </div>

			    <nav>
			        <li><h3><a href="../home" style="border:1px solid #aaaaaa; margin:2px;">Return to homepage</a></h3>(delete data)</li>
			        </br>
			        <li><h3><a href="../registration" style="border:1px solid #aaaaaa; margin:2px;">Modify your profile</a></h3>(your current data are saved)</li>
			    </nav>
			    
			    </br></br>
			    
			    <h1>Game page ({{ error }})</h1>
    
				<p>Hello {{ smeller.name }} (post method)</p>
				
				<div>
					<table>
						<tr>
							<td>Parfumes :</td>
							<td>Sample : {{ name_sample }}</td>
						</tr>
						<tr>
							<td>
							
								<div id="divParfume" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:500px;height:400px;padding:10px;border:1px solid #aaaaaa;">
									{% for perfume in listPerfumes %}
										<img id="{{ perfume.id }}" src="{% static perfume.path %}" draggable="true" ondragstart="drag(event)" width="100" height="100" style="border:1px solid #aaaaaa; margin:2px;cursor:move">
									{% endfor %}
								</div>
								
							</td>
							<td>
								<div id="divSample" ondrop="drop(event)" ondragover="allowDrop(event)" style="width:500px;height:400px;padding:10px;border:1px solid #aaaaaa;"></div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<form action="{% url "SmellGuess.views.gameView" %}" method="POST">
									{% csrf_token %}
									{{ form.as_p }}
									<input type="submit" value="Validate" />
									<h3>You could go back after if you want</h3>
								</form>
							</td>
						</tr>
					</table>
				</div>
				
				
			</header>
		</div>
		
		<div class="wrapper row2">
		  	<div id="container" class="clear">
			    
			    
	  			<footer id="footer" class="clear">
	    			<p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="https://github.com/JeanCoq/SmellGame">Sources</a></p>
	  			</footer>
		
			</div>
		</div>
		
		
	</body>
	
	
</html>

-->