<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}

<html lang="fr" dir="ltr">
	
	<head>
		<title>THE SMELL OF US - Accueil (en construction...)</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon2.png' %}">
	</head>
	
	<body>
	
		<div style="text-align: center">    	
			
			<br><br><br>
			
		    <div>
		    	<a href="../registration">
		    		<img src="{% static 'images/logo1258x1074.png' %}" height="500">
		    	</a>
		    </div>

			
			<br><br><br><br>
			

			<div style="position: fixed; bottom: 0;  right:5px; font-size: 10px;">
				<p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="https://github.com/JeanCoq/SmellGame" target="_blank">Sources</a></p>
			</div>
		
		</div>
		
	</body>
	
</html>