<!DOCTYPE html>

<html lang="fr" dir="ltr">
	
	<head>
		<title>Homepage (In Progress)</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="Layout.css">
	</head>
	
	<body>
		
		<div class="wrapper row1">
		  
			<header id="header" class="clear">
		    
			    <div id="hgroup">
				      <h1><a href="#">SmellGame</a></h1>
				      <h2>Default template & work in progress</h2>
			    </div>

			    <nav>
			    	<ul>
				        <li><a href="home.html">Homepage</a></li>
				        <li><a href="Identification.html">Register</a></li>
				        <li><a href="game.html">The Game</a></li>
				        <li class="last"><a href="#">Contact us</a></li>
			      	</ul>
			    </nav>
			    
			    </br></br>
			    
			    <div>
			    	<h3>Example with hyperlink:</h3>
			    	<a href="../identification">Access to identification</a>
					
					</br></br>
					
					<h3>Example with form, action (try to call a python function...):</h3>
					<form action="{% url "SmellGuess.views.enter" %}" method="POST">
						{% csrf_token %} <!-- Security variable, don't touch -->
						<input type="submit" value="Access" />
					</form>
					
					</br>
					
					<h3>Example with call of a python variable:</h3>
					<p>Current date is : {{ current_date }}</p>
					
					</br>
			    
			    </div>
		    
		    	</br></br>
		    
		  	</header>
		
		</div>
		
		<!-- content -->
		<div class="wrapper row2">
		  	<div id="container" class="clear">
		    
			    <!-- content body -->
			    <section id="slider">
			    	<a href="#">
			    		<img src="images/Dna.jpg" >
			    	</a>
			    </section>
			    
			    <!-- main content -->
			    
	  			<footer id="footer" class="clear">
	    			<p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="https://github.com/JeanCoq/SmellGame">Depress Team</a></p>
	  			</footer>
		
			</div>
		
	</body>

</html>
