<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}
{% load i18n %}

<html lang="fr" dir="ltr">
	
	
	<!-- header block -->
	<head>
		<title>THE SMELL OF US - {% trans "Enregistrement" %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
	</head>
	
	
	<body>
	
		</br></br>
	
		<div style="text-align: center">
		
			<div style="text-align: center">

<!-- Test pour afficher des images à sélectionner (mais difficulté à cause des formulaires pré-définis Django...) 
				<script>				
					function sexSelect(labelName) {
						imFemale = document.getElementById("imFemale");
						imMale = document.getElementById("imMale");
						
						if(labelName == "femaleLabel"){				
							imFemale = document.getElementById("imFemale");
							imFemale.src = "{% static 'images/femaleLight.png' %}"
							imMale.src = "{% static 'images/male.png' %}"
							
						}else if(labelName == "maleLabel"){
							imMale = document.getElementById("imMale");
							imMale.src = "{% static 'images/maleLight.png' %}"
							imFemale.src = "{% static 'images/female.png' %}"
						}
					}
				</script>

				<form action="{% url "SmellGuess.views.gameView" %}" method="post">
				
					{% csrf_token %}
					
					<div id="Fdiv" style="display: inline-block; width: 100px; height: 100px;">
						<input type="radio" name="sex" style="display: none;" id="female" value="femme" onClick="sexSelect('femaleLabel')">
						<label for="female">
							<img src="{% static 'images/female.png' %}" id="imFemale" alt="femme" style="margin: auto; width: 80px; height: 80px;">
						</label>
					</div>
					
					<h3>ou</h3>
					
					<div id="Mdiv" style="display: inline-block; width: 100px; height: 100px;">
						<input type="radio" name="sex" style="display: none;" id="male" value="homme" onClick="sexSelect('maleLabel')">
						<label for="male">
							<img src="{% static 'images/male.png' %}" id="imMale" alt="homme" style="margin: auto; width: 80px; height: 80px;">
						</label>
					</div>
					
					<h3>Âge : </h3>
					<input id="id_age" min="0" name="age" type="number" value="21" style="display: block; margin: auto; width: 50px"/>

					<br><br><br><br><br><br>

					<input type="submit" value="Valider" style="display: block; margin: auto;"/>
				</form>
	
				<br><br><br><br><br><br>
				<form action="/smellguess/game/" method="post">
					{% csrf_token %}
					{{ form2.as_p }}
					
					<label for="id_sex_0">
						<img src="{% static 'images/male.png' %}" id="imMale" alt="homme" style="margin: auto; width: 80px; height: 80px;" onClick="sexSelect('maleLabel')">
					</label>							
															
					<label for="id_sex_1">
						<img src="{% static 'images/female.png' %}" id="imFemale" alt="femme" style="margin: auto; width: 80px; height: 80px;" onClick="sexSelect('femaleLabel')">
					</label>
										
					<br><br>
										
					<input type="image" value="VALIDER" />
				</form>
-->					
				
				
				
				
				
					<br><br><br><br><br><br>
				
				
				
				
				

				<div style="width:300px; margin: auto;">
				
					<form action="{% url "SmellGuess.views.gameView" %}" method="post">
						{% csrf_token %}
						
						<div align="left">
							{{ form.as_p }} 
							<br/> 
							<input type="image" value="{% trans 'VALIDER' %}" />
						</div>
						
					</form>
					
				</div>
				
				
			</div>			
						
		</div>
	
		
		

		
		
		
		<!-- bottom block -->		
		<div style="position: fixed; bottom: 5px; right:5px;" >
		
			<div style="display: inline-block; margin-right: 20px;">
				<a href="../home" style="text-decoration: none;" >
					<!-- icon from http://www.iconsdb.com/deep-pink-icons/home-5-icon.html -->
					<img src="{% static 'images/homeIcon.png' %}" alt="Retour à la page d'accueil" height="50" style="display: block; margin-left: auto; margin-right: auto">
				</a>
			</div>
		    
		    <div style="display: inline-block;">	
		    	<a href="http://2014.igem.org/Team:Paris_Bettencourt" target="_blank" >
		    		<img src="{% static 'images/logo150x150.png' %}" alt="Site web de l'équipe" style="display: block; margin-left: auto; margin-right: auto">
		    	</a>
		    </div>
			
			<br/>
	    	
	    	<p style="font-size: 10px;">Copyright &copy; 2014 - All Rights Reserved - <a href="https://github.com/JeanCoq/SmellGame" target="_blank">Sources</a></p>
	    </div>
	
	
	</body>
	
</html>