<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}
{% load i18n %}

<html lang="fr" dir="ltr">
	
	<head>
		<title>Demo Graphes using HighCharts</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
		<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/Function_template.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/js_highcharts/highcharts.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/js_highcharts/highcharts-3d.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/js_highcharts/modules/exporting.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/js_highcharts/highcharts-more.js' %}"></script>		
		<script type="text/javascript" type="text/javascript">
		
		
		
/*---------------------*\	
| SampleData for Exemple|	
\*---------------------*/

//For Pie
var sampleDataforPie = [
                  ['Warrior', 45.0],
                  ['Sorcerer', 26.8],
				  ['Rogue', 8.5],
                  ['Ranger', 6.2],
                  ['Priest', 12],
				  ['Noob', 0.5]
				 ]		

				 
//For Histogramme
var sampleDataforHisto = [['Catholic Church', 8], ['Hippies', 13], ['Alien', 4]];
var sampleErreurforHisto = [[9, 7], [13.5, 12.5], [2, 8]];			 
				 
				 
				 
//For Line
//Format: [[x,y],[x,y]]
var sampleData1_forLine = [[7.0, 8], [6.9, 2], [9.5, 15]];
var sampleData2_forLine = [[5, 8], [3, 2], [11, 15]];			 
				 
				 
				 
				 	 
/*-----------------------------------------------------*\	
| Function:												|
|		-The following functions return an "option"		|
|		object, requiered as parameter for highchart	|
|		constructors.									|						
|														|
|		-Three SetOption Function are avaliable:		|
|			-SetOptionPie()								|
|			-SetOptionHisto()							|
|			-SetOptionLine()							|	
\*-----------------------------------------------------*/				 

		 
function SetOptionPie(titre, categorie, donnees){
// Take 3 non-optional arguments:
// => titre : string, selfexplain...
// => categorie : string, generic name of data (Ex: 'Smeller')
// => donnees : array of array [['MU-corp', 100], ['Rest-of-the-World', 0]], contening data


	var option = {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: titre
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: categorie,
            data: donnees
        }]
    };


	return option;
}


function SetOptionHisto(titre, y, indicationCurseur, donnees, erreur, soustitre){
// Take 5 non-optional arguments
// => titre : string, selfexplain...
// => y : string, name of y axis
// => indicateurCurseur: string, indication show by cursor.
// => donnees : array of array [['MU-corp', 100], ['Rest-of-the-World', 0]], contening data
// => erreur : array of array, contening value (bounds), exemple : [[11, 9], [13, 8]]

//Take 1 optional argument
// => soustitre : string, a subtitle


	var soustitre = soustitre || '';
	var option = {
        chart: {
            type: 'column'
        },
        title: {
            text: titre
        },
        subtitle: {
            text: soustitre
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: y
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: indicationCurseur
        },
        series: [{
            name: 'category',
            data: donnees,
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                }
            }
        }, { 
			name: 'Rainfall error',
			type: 'errorbar',
			data: erreur
		}]
		
   };		
	
	return option; 
}		


function SetOptionLine(titre, axeX, axeY, nom1, donnees1, nom2, donnees2, soustitre){
// Take 7 non-optional arguments
// => titre : string, selfexplain...
// => axeX : string, name of X axis
// => axeY : string, name of Y axis
// => nom1 : string, name of data serie1
// => donnees1: array of array, contening data for serie1, exemple:[[5, 8], [3, 2]], Where format is [[x, y], [x, y]
// => nom2 : string, name of data serie2
// => donnees2: array of array, contening data for serie2, exemple:[[5, 8], [3, 2]], Where format is [[x, y], [x, y]

//Take 1 optional argument
// => soustitre : string, a subtitle



	var soustitre = soustitre || '';
	var option = {
			title: {
				text: titre,
				x: -20
			},
			subtitle: {
				text: soustitre,
				x: -20
			},
			xAxis: {
				title:{
					text: axeX
				}
			},
			yAxis: {
				title: {
					text: axeY
				},
				plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
				}]
			},
			tooltip: {
				valueSuffix: '?'
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0
			},
			series: [{
				name: nom1,
				data: donnees1
			}, {
				name: nom2,
				data: donnees2
			}]
		};
	return option;
}


/*-----------------------------------------------------*\	
| Exemple:												|
|		- The following lines are basic exemple			|
|		  for using these function within a 			|
|		  highchart constructor							|						
|														|
\*-----------------------------------------------------*/	

</script>
</head>
<body>
	
<p><a onClick="$(function () { $('#container1').highcharts(SetOptionPie('D&D Company', 'Users', sampleDataforPie));});"><button type="button">Pie</button></a></p>	

<p><a onClick="$(function () { $('#container2').highcharts(SetOptionHisto('MU-CORP Operation', 'Feeling', 'Danger', sampleDataforHisto, sampleErreurforHisto, 'Report on mortel ennemy')) });"><button type="button">Histogramme</button></a></p>	

<p><a onClick="$(function () { $('#container3').highcharts(SetOptionLine('Test Titre', 'Space', 'Time', 'Kiwi', sampleData1_forLine, 'fraise', sampleData2_forLine)) });"><button type="button">Lines</button></a></p>	



<div id="container1" style="height: 400px"></div>
<div id="container2" style="min-width: 500px; height: 400px; margin: 0 auto"></div>
<div id="container3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</body>
</html>