<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}

<html lang="fr" dir="ltr">
	
	
	<!-- header block -->
	<head>
		<title>THE SMELL OF US - Donneur</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
		
		<script>
			function splitFields(dictInput) {
				for(id in dictInput){
					$('#'+id).parent().parent().before('<tr class="titleSectionFields"><td colspan="2">'+dictInput[id]+'</td></tr>');
				}
			}
		</script>
	</head>
	
	
	<body>
	
		<div style="text-align: center">
			<div style="width:600px; margin: auto;">
				<form action="{% url "SmellGift.views.thanksView" %}" method="post">
					{% csrf_token %}
					<table cellpadding="5" id="formGift" align="left" style="text-align: left; margin-bottom:30px;" >
						{{ form.as_table }} 
					</table>
					<input type="image" value="VALIDER" />
				</form>
			</div>
		</div>
		
		<!-- bottom block -->		
		<div style="position: fixed; bottom: 5px; right:5px;" >
		
			<div style="display: inline-block; margin-right: 20px;">
				<a href="../smellguess/home/" style="text-decoration: none;" >
					<!-- icon from http://www.iconsdb.com/deep-pink-icons/home-5-icon.html -->
					<img src="{% static 'images/homeIcon.png' %}" alt="Retour à la page d'accueil" height="50" style="display: block; margin-left: auto; margin-right: auto">
				</a>
			</div>
		    
		    <div style="display: inline-block;">	
		    	<a href="http://2014.igem.org/Team:Paris_Bettencourt" target="_blank" >
		    		<img src="{% static 'images/logo150x150.png' %}" alt="Site web de l'équipe" style="display: block; margin-left: auto; margin-right: auto">
		    	</a>
		    </div>
			
			<br/>
	    	
	    	<p style="font-size: 10px;">Copyright &copy; 2014 - All Rights Reserved - <a href="https://github.com/JeanCoq/SmellGame" target="_blank">Sources</a></p>
	    </div>
	    
	    <script>
		$(function(){
			splitFields({'id_age': 'À PROPOS DE VOUS',
			             'id_testDuration_hour': 'À PROPOS DE CE TEST<br/><span style="font-weight: normal; font-style: italic;">Conditions auquelles vous avez été soumis.<br/>(Si aucune condition particulière alors passer cette section)</span>',
			             'id_intensity': 'À PROPOS DE VOTRE ODEUR'});
			$("#id_email").after(" <img id=\"helpImg\" src=\"{% static 'images/help.png' %}\" alt=\"Help\" height=\"22\" /> "+
					     "<span id=\"helpText\" style=\"float:right;\">Vous pouvez renseigner votre e-mail si vous voulez recevoir les résultats de cette étude.</span>");
			$("#helpImg").click(function() {
				if($("#helpText").css('display') == 'none') { 
					$("#helpText").css('display', 'inline-block');
				}
				else { 
					$("#helpText").css('display', 'none'); 
				}
			});
		})
	    </script>
	    
	</body>
	
</html>