<!DOCTYPE html>

<!-- Load images, CSS and JS files-->
{% load static %}
{% load i18n %}

<html lang="fr" dir="ltr">
	
	
	<!-- header block -->
	<head>
		<title>THE SMELL OF US - {% trans "Donneur" %}</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/design.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg' %}">
		
		<script>
			function splitFields(dictInput) {
				for(id in dictInput){
					$('#'+id).parent().parent().before('<tr class="titleSectionFields"><td colspan="2">'+dictInput[id]+'</td></tr>');
				}
			}
		</script>
	</head>
	
	
	<body>
	
		<div style="text-align: center">
			<div style="width:600px; margin: auto;">
				<form action="{% url "SmellGift.views.thanksView" %}" method="post">
					{% csrf_token %}
					<div>
						<div class="titleSectionFields" style="margin-top: 30px; margin-bottom: 20px;">NUMÉRO DE L'ÉCHANTILLON</div>
						<input type="text" value="" name="nameSample" style="width:90px; height:50px; text-align:center; font-size:30px; font-weight:bold;"/>
					</div>
					<table cellpadding="5" id="formGift" align="left" style="text-align: left; margin-bottom:30px;" >
						{{ form.as_table }} 
					</table>
					<input type="image" value="{% trans 'VALIDER' %}" />
				</form><br/>
			</div>
		</div>
	    
		{% include "footer.html" %}
	    
	    <script>
		$(function(){
			splitFields({'id_age': '{% trans "À PROPOS DE VOUS" %}',
			             'id_testDuration_hour': '{% trans "À PROPOS DE CE TEST" %}<br/><span style="font-weight: normal; font-style: italic;">{% trans "Conditions auxquelles vous avez été soumis." %}<br/>{% trans "(Si aucune condition particulière alors passer cette section)" %}</span>',
			             'id_intensity': '{% trans "À PROPOS DE VOTRE ODEUR" %}'});
			$("#id_email").after(" <img id=\"helpImg\" src=\"{% static 'images/help.png' %}\" alt=\"Help\" height=\"22\" /> "+
					     "<span id=\"helpText\" style=\"float:right;\">{% trans 'Vous pouvez renseigner votre e-mail si vous voulez recevoir les résultats de cette étude.' %}</span>");
			$("#helpImg").click(function() {
				if($("#helpText").css('display') == 'none') { 
					$("#helpText").css('display', 'inline-block');
				}
				else { 
					$("#helpText").css('display', 'none'); 
				}
			});
		})
	    </script>
	    
	</body>
	
</html>