body {
	background-color: rgb(186,181,186);
	color: white;
	font-family: Arial;
	font-size: 15px;
}

#panelLeft {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 210px;
	height: 100%;
	border-right: 1px solid white;
}

#panelLeft t1, #panelLeft t2, #panelLeft form {
	display: block;
	width: 180px;
	margin-top: 10px;
	margin-left: 15px;
}

#panelLeft t1, #panelLeft t2 { font-weight: bold; }

#panelLeft t1 { color : rgb(216,89,149); }

#panelCenter {
	position: absolute;
 	top: 50%; 
	left: 50%;
	width: 500px;
	height: 500px;
	margin-top: -250px;
	margin-left: -250px;
	background: -webkit-radial-gradient(white 0%,rgb(186,181,186) 55%); /* Safari 5.1-6.0 */
	background: -o-radial-gradient(white 0%,rgb(186,181,186) 55%); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient(white 0%,rgb(186,181,186) 55%); /* For Firefox 3.6-15 */
	background: radial-gradient(white 0%,rgb(186,181,186) 55%); /* Standard syntax */
}

#panelNote {
	position: absolute;
 	top: 150px; 
	left:150px;
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

#panelHistory {
	position: absolute;
 	top: 20px;
	right: 20px;
	width: 250px;
}

#panelLogo {
	position: absolute;
 	bottom: 40px;
	right: 20px;
	width: 150px;
	height: 150px;
}

#panelLeft form input[type=image] {
	position: absolute;
	right: 20px;
	bottom: 40px;
	font-family: Arial;
	font-size: 17px;
	color: white;
	font-weight: bold;
	background-color: rgb(186,181,186);
	background:       rgb(186,181,186);
}

#panelLeft form input[type=range].vertical {
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 8px;
	height: 500px;
	padding: 0 5px;
}
#panelLeft form input[type='range'] {
	-webkit-appearance: none;
	width: 20px;
	vertical-align: middle;
	margin-left: 80px;
	display:block;
	height:350px;
	background-size: 20px 350px;
	background-image: url("backgroundSlider.png");
}
#panelLeft form input[type='range']::-moz-range-track {
	-moz-appearance: none;
	width: 0px;
}
#panelLeft form input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 20px;
	 background: rgb(216,89,149);
	 border: 1px solid rgb(216,89,149);
	width: 20px;
	height: 20px;
	background-color: white;
}
#panelLeft form input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 20px;
	 background: rgb(216,89,149);
	 border: 1px solid rgb(216,89,149);
	width: 20px;
	height: 20px;
}

#textRange{ 
    text-align: center;
    margin-top: 5px;
}

.radio-toolbar input[type="radio"] {
    display:none;
}

.radio-toolbar label {
    display:inline-block;
    padding:4px 11px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:rgb(216,89,149);
}